$color-smart-green: #31d269;
$color-active-red: #f70e3d;
$color-total-white: #fff;
$color-total-black: #000;
$color-green-30: #2cad59;
$color-green-50: #6bd686;
$color-red-30: #e30d1c;
$color-red-50: #fd1616;
$color-black-5: #F8F8F8;
$color-black-10: #EDEDED;
$color-black-20: #D9D9D9;
$color-black-40: #B0B0B0;
$color-black-60: #818181;
$color-black-80: #4E4E4E;
$color-black-90: #3D3D3D;
$color-black-95: #313131;
$color-orange-1: #F68E57;
$color-main-white :#FEFEFE;
$color-main-gray: #222;

$bg-gradient-1: radial-gradient(54.48% 119.51% at 51.53% 102.5%, #D6551F 0%, #9E431D 1.08%, #67321B 43.62%, #46271A 62.34%, #181818 87.51%);

$theme-colors: (
  'smart-green': $color-smart-green,
  'active-red': $color-active-red,
  'total-white': $color-total-white,
  'total-black': $color-total-black,
  'green-30': $color-green-30,
  'green-50': $color-green-50,
  'red-30': $color-red-30,
  'red-50': $color-red-50,
  'black-5': $color-black-5,
  'black-10': $color-black-10,
  'black-20': $color-black-20,
  'black-40': $color-black-40,
  'black-60': $color-black-60,
  'black-80': $color-black-80,
  'black-90': $color-black-90,
  'black-95': $color-black-95,
  'orange-1': $color-orange-1,
  'main-white': $color-main-white,
  'main-gray': $color-main-gray,
);
