@use "sass:map";
@use "colors";

@function color($_color) {
  @if not map.has-key(colors.$theme-colors, $_color) {
    @warn 'No color found for `#{$_color}` in $map-core-colors - color returned will be null.';
  }
  @return map.get(colors.$theme-colors, $_color);
}
