@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:string';
@use 'responsive';
@use 'functions';

@mixin media-min($media) {
  @if not map.has-key(responsive.$mq-breakpoints, $media) {
    @warn 'Media `#{$media}` not found in map $mq-breakpoints. This media now empty';
  }

  @media only screen and (min-width: map.get(responsive.$mq-breakpoints, $media)) {
    @content;
  }
}

@mixin add-font-woff($font_name, $link, $weight: 'normal', $style: 'normal') {
  @font-face {
    font-family: $font_name;
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
    src: url($link + '.woff2') format('woff2');
  }
}

@mixin transition($property, $duration: 0.15s, $timingFunction: ease-out) {
  transition-timing-function: $timingFunction;
  transition-duration: $duration;
  transition-property: #{$property};
}

@mixin has-hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin custom-scroll() {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: functions.color('black-5');
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: functions.color('black-40');
  }
}

@function mq-px2em($px, $base-font-size: responsive.$mq-base-font-size) {
  @if math.is-unitless($px) {
      @warn 'Assuming #{$px} to be in pixels, attempting to convert it into pixels.';

      @return mq-px2em($px * 1px, $base-font-size);
  } @else if math.unit($px) == em {
      @return $px;
  }

  @return calc($px / $base-font-size) * 1em;
}

@function mq-get-breakpoint-width($name, $breakpoints: $mq-breakpoints) {
  @if map.has-key($breakpoints, $name) {
      @return map.get($breakpoints, $name);
  } @else {
      @warn 'Breakpoint #{$name} wasn\'t found in $breakpoints.';
  }
}

@mixin mq(
  $from: false,
  $until: false,
  $and: false,
  $media-type: responsive.$mq-media-type,
  $breakpoints: responsive.$mq-breakpoints,
  $responsive: responsive.$mq-responsive,
  $static-breakpoint: responsive.$mq-static-breakpoint
) {
  $min-width: 0;
  $max-width: 0;
  $media-query: '';

  @if $from {
      @if meta.type-of($from) == number {
          $min-width: mq-px2em($from);
      } @else {
          $min-width: mq-px2em(mq-get-breakpoint-width($from, $breakpoints));
      }
  }

  @if $until {
      @if meta.type-of($until) == number {
          $max-width: mq-px2em($until);
      } @else {
          $max-width: mq-px2em(mq-get-breakpoint-width($until, $breakpoints)) - .01em;
      }
  }

  @if $responsive == false {
      $static-breakpoint-width: mq-get-breakpoint-width($static-breakpoint, $breakpoints);
      $target-width: mq-px2em($static-breakpoint-width);

      @if (
          $and == false
          and $min-width <= $target-width
          and (
              $until == false or $max-width >= $target-width
          )
      ) {
          @content;
      }
  } @else {
      @if $min-width != 0 { $media-query: '#{$media-query} and (min-width: #{$min-width})'; }

      @if $max-width != 0 { $media-query: '#{$media-query} and (max-width: #{$max-width})'; }

      @if $and            { $media-query: '#{$media-query} and #{$and}'; }

      @if $media-type == 'all' and $media-query != '' {
          $media-type: '';
          $media-query: string.slice(string.unquote($media-query), 6);
      }

      @media #{$media-type + $media-query} {
          @content;
      }
  }
}