@mixin media-min($media) {
  @if not map-has-key($mq-breakpoints, $media) {
    @warn 'Media `#{$media}` not found in map $mq-breakpoints. This media now empty';
  }

  @media only screen and (min-width: map-get($mq-breakpoints, $media)) {
    @content;
  }
}

@mixin add_font_woff($font_name, $link, $weight: 'normal', $style: 'normal') {
  @font-face {
    font-display: swap;
    font-family: $font_name;
    font-style: #{$style};
    font-weight: #{$weight};
    src: url($link + '.woff2') format('woff2');
  }
}

@mixin transition($property, $duration: 0.15s, $timingFunction: ease-out) {
  transition-property: #{$property};
  transition-duration: $duration;
  transition-timing-function: $timingFunction;
}
