$mq-breakpoints: (
  tablet: 576px,
  tabletLarge: 784px,
  wideTablet: 960px,
  desktop: 1200px,
  wideDesktop: 1440px,
);
$mq-base-font-size: 16px !default;
$mq-responsive: true !default;
$mq-static-breakpoint: desktop !default;
$mq-media-type: all !default;
