@use 'sass:map';
@use 'responsive';
@use 'mixins' as *;

$font-family-base: 'Inter', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 800;

$global-text-map: (
  'h1': (
    font-size: 28px,
    line-height: 36px,
    responsive: (
      tablet: (
        font-size: 32px,
        line-height: 42px,
      ),
      desktop: (
        font-size: 44px,
        line-height: 48px,
      )
    ),
  ),
  'h2': (
    font-size: 22px,
    line-height: 28px,
    responsive: (
      tablet: (
        font-size: 24px,
        line-height: 32px,
      ),
      desktop: (
        font-size: 28px,
        line-height: 36px,
      )
    ),
  ),
  'h3': (
    font-size: 16px,
    line-height: 24px,
    responsive: (
      tablet: (
        font-size: 18px,
        line-height: 26px,
      ),
      desktop: (
        font-size: 20px,
        line-height: 28px,
      )
    ),
  ),
  'h4': (
    font-size: 16px,
    line-height: 24px,
  ),
  'h5': (
    font-size: 16px,
    line-height: 24px,
  ),
  'h6': (
    font-size: 16px,
    line-height: 24px,
  ),
  'lFluid': (
    font-size: 14px,
    line-height: 22px,
    responsive: (
      tablet: (
        font-size: 16px,
        line-height: 24px,
      ),
      desktop: (
        font-size: 20px,
        line-height: 28px,
      )
    ),
  ),
  'mFluid': (
    font-size: 12px,
    line-height: 18px,
    responsive: (
      tablet: (
        font-size: 14px,
        line-height: 22px,
      ),
      desktop: (
        font-size: 16px,
        line-height: 24px,
      )
    ),
  ),
  'xxxl': (
    font-size: 36px,
    line-height: 48px,
  ),
  'xxl': (
    font-size: 28px,
    line-height: 36px,
  ),
  'xl': (
    font-size: 24px,
    line-height: 32px,
  ),
  'l': (
    font-size: 20px,
    line-height: 28px,
  ),
  'm': (
    font-size: 16px,
    line-height: 24px,
  ),
  's': (
    font-size: 14px,
    line-height: 22px,
  ),
  'xs': (
    font-size: 12px,
    line-height: 18px,
  ),
);

@mixin text-styles($size_name, $take_responsive: true) {
  $text-map: map.get($global-text-map, $size_name);

  @include text-styles-from-map($text-map, $take_responsive);
}

@mixin text-styles-variable($prefix, $size_name) {
  $text-map: map.get($global-text-map, $size_name);
  $font-size: map.get($text-map, 'font-size');
  $line-height: map.get($text-map, 'line-height');

  @if $font-size {
    --#{$prefix}-font-size: #{$font-size};
  }

  @if $line-height {
    --#{$prefix}-line-height: #{$line-height};
  }
}

@mixin text-styles-from-map($_text-map, $take_responsive) {
  $font-size: map.get($_text-map, 'font-size');
  $line-height: map.get($_text-map, 'line-height');

  @each $property, $value in $_text-map {
    @if $property != 'responsive' {
      #{$property}: $value;
    }
  }

  $medias: map.get($_text-map, 'responsive');

  @if $medias and $take_responsive {

    @each $media, $resp_text-map in $medias {

      @include mq($from: $media) {
        @include text-styles-from-map($resp_text-map, $take_responsive: false);
      }
    }
  }
}