@use './helpers/mixins' as *;

@include add-font-woff('Inter', '../fonts/Inter-Bold', 800);
@include add-font-woff('Inter', '../fonts/Inter-Medium', 500);
@include add-font-woff('Inter', '../fonts/Inter-Light', 300);
