@use 'lib/normalize' as *;
@use 'helpers/index' as *;
@use 'fonts' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: $font-family-base;
  font-size: 24px;
  font-weight: 400;
  color: color('total-black');

  background-color: color('total-white');
}

a {
  color: color('smart-green');
  text-decoration: none;

  @include transition('color');

  &:hover,
  &:active {
    text-decoration: none;
  }
}

button {
  cursor: pointer;

  padding: 0;
  border: none;

  font: inherit;
  color: inherit;

  background-color: transparent;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 24px 0;
  font-weight: $font-weight-bold;

  @include media-min('tablet') {
    margin-bottom: 32px;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include text-styles('h1');
}

h2 {
  @include text-styles('h2');
}

h3 {
  @include text-styles('h3');
}

h4 {
  @include text-styles('h4');
}

h5 {
  @include text-styles('h5');
}

h6 {
  @include text-styles('h6');
}

iframe {
  border: none;
  outline: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
