@use 'lib/normalize';
@use 'helpers/index';
@use 'fonts';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  color: color('total-black');

  background-color: color('total-white');
}

a {
  color: inherit;
}

button {
  cursor: pointer;

  padding: 0;
  border: none;

  font: inherit;
  color: inherit;

  background-color: transparent;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
