@import 'lib/normalize';
@import 'helpers/index';
@import 'fonts';

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: color('total-white');
  color: color('total-black');
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: flex;
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
